/* System */

body{
	font-family: 'Roboto Slab', serif;
}

*{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
	margin: 0;
	padding: 0;
	z-index: 22;
}

ul, li{
	display: block;
	margin: 0;
}

p{
	font-weight: 300;
	margin: 0;
}

.container{
	width: 1230px;
	margin: 0 auto;
}

/* HEADER */

.header{

}

.block{
	display: flex;
}

.bl-logo{
	display: flex;
	align-items: center;
}

.bl-logo__logo{
	margin-right: 15px;
}

.offer{
}


.offer__title{
	font-size: 16px;
	color: #000;
	margin-bottom: 1.1px;
}

.offer__text{
	font-size: 13px;
	color: #000;
}

.menu{
	display: flex;
	margin: 30px 0 30px 50px;
	padding: 0;
	align-items: center;
	
}

.menu__item{
	margin-right: 15px;
}

.menu__item a{
	font-size: 14px;
	color: #000;
	font-weight: 700;
	text-decoration: none;
	padding: 10px 4px 10px 15px;
	border-radius: 6.5px;
	margin-left: -6.7px;
}

.menu__item a:hover{
	background: #f7f2fe;
}

.phone{
	text-align: right;
}

.phone__number{
	font-size: 21px;
	color: #2f1059;
	margin-top: 15px;
	padding: 0;
	margin-bottom: 0;
}

.phone__btn{
	background: #fff;
	border: 1px solid #2f1059;
	padding: 8px 0 10px 0;
	text-align: center;
	border-radius: 5px;
	outline: none;
	margin-top: 10px;
	width: 155px;
	cursor: pointer;
}

/* SECTION 2 record */

.record{
	background: url(../img/head-bg.png) no-repeat center top;
}

.head{
	text-align: center;
	color: #2f1059;
	padding-top: 90px;
}

.head__intro{
	font-size: 22px;
	margin-bottom: 10px;
	margin-left: -20px;
}

.head__title{
	font-size: 43px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.head__text{
	font-size: 20px;
}

.head__light{
	font-weight: 300;
}

.head__img{
	position: relative;
	bottom: 153px;
}

.position{
	position: relative;
}

.violet{
	width: 780px;
	padding-top: 35px;
	margin: 20px auto 0 auto;
	text-align: center;
	height: 240px;
	background: url(../img/ggg.png) no-repeat center top / cover;
}

.violet__title{
	font-size: 24px;	
	color: #fbfafa;
	margin-bottom: 5px;
}

.violet__text{
	font-size: 14px;
	color: #fbfafa;
	margin: 0;
	margin-bottom: 25px;
}

.form{
	margin-bottom: 47.5px;
}

.form__name_style{
	padding: 15px 0 15px 20px;
	border-radius: 6.7px;
	outline: none;
	border: none;
}



.violet__btn{
	background: #d22828;
	border: none;
	padding: 15px 25px;
	color: #fff;
	font-weight: 700;
	border-radius: 6.7px;
	cursor: pointer;
	outline: none;
}

.violet__desc{
	font-size: 15.3px;
	color: #7925ec;
}

.violet__border{
	border: 1px solid #7925ec;
	padding: 2px 6px 2px 8px;
	border-radius: 4px;
	font-weight: 700;
	font-size: 20.7px;
}

input[type="text"]::-webkit-input-placeholder {
    color: #9C95A5;
    font-size: 15px;
    background: url(../img/name.png) no-repeat left center;
   } 
input[type="text"]::-moz-placeholder {
    color: #9C95A5;
    font-size: 15px;
     background: url(../img/name.png) no-repeat left center;
   }

input[type="tel"]::-webkit-input-placeholder {
    color: #9C95A5;
    font-size: 13px;
     background: url(../img/tel.png) no-repeat left center;
   } 
input[type="tel"]::-moz-placeholder {
    color: #9C95A5;
    font-size: 13px;
     background: url(../img/tel.png) no-repeat left center;
   }

   /* SECTION 2 place */

   .place{
		
   }

   .circles{
		display: flex;
		justify-content: space-between;
		margin-top: 45px;
		margin-bottom: 25px;
   }

   .circles__images{
		width: 146px;
		height: 146px;
   }


   .circles__images_pos1{
		margin-top: 123px;
   }

   .circles__images_pos2{
   		margin-top: 55px;
   }

   /* SECTION 3 term */

   .term{
  	 	text-align: center;
   		background: url(../img/wave.png) no-repeat center top / cover;
   }

   .ready{
   		padding-top: 40px;
   		
   }

	.ready__title{
		font-size: 30px;
		color: #fbfafa;
		margin-bottom: 14px;
	}

	.ready__text{
		font-size: 20px;
		color: #fbfafa;
		width: 300px;
		margin: 0 auto;
		background: url(../img/flag.png) no-repeat left center;
	}

	.like{
		margin-top: 13.5px;
		margin-bottom: -45px;
	}

	/* SECTION 4 location */

	.location{
		padding-bottom: 75px;
	}

	.ideal{
		text-align: center;
		margin-top: 80px;
	}

	.ideal__title{
		font-size: 37px;
		color: #000;
		margin-bottom: 15px;
	}

	.ideal__text{
		font-size: 20px;
		color: #000;
	}

	.images{
		display: flex;
	}

	.river{
		text-align: center;
		margin-top: 25px;
	}

	.river_bot{
		margin-top: 55px;
	}

	.river__img{
		
	}

	.river__title{
		font-size: 21px;
		margin-bottom: 5px;
	}

	.river__text{
		font-size: 15px;
	}

	.river__text_w{
		width: 220px;
		margin: 0 auto;
	}

/* SECTION 5 infrastructure */

.infrastructure{
	background: url(../img/city1.png) no-repeat 50% 10% / cover;
	padding-top: 65px;
	padding-bottom: 100px;
}

.block-title{
	font-size: 37px;
	text-align: center;
	margin-bottom: 60px;
}

.objects{
	display: flex;
	justify-content: space-around;
}

.object-dev{
	text-align: left;

}

.object-dev__title{
	font-size: 19px;
	margin-bottom: 40px;
	box-shadow: 0 12px 20px rgba(106,111,106, 0.1);
	width: 280px;
}

.object-dev__text{
	font-size: 16px;
	margin-bottom: 10px;
}

.object-dev__text:after{
	content: "";
	display: block;
	width: 340px;
	border-bottom: 1px solid #dae8da;
	margin-top: 4px;
}

.icons{
	height: 115px;
	margin-top: -88px;
	padding-top: 26px;
	background: url(../img/wave-green.png) no-repeat center top / cover;
}

.green-wave{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.all{
	display: flex;
	align-items: center;
	margin-left: 20px;
}

.all__title{
	margin-left: 15px;
	font-size: 17px;
	color: #fbfafa;
}

.all__text{
	display: block;
	color: #fbfafa;
	font-weight: 300;
}

/* SECTION 6 design */

.home-title{
	font-size: 37px;
	color: #000;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 50px;
}

.home-block{
	display: flex;
	text-align: center;
	justify-content: space-between;
}

.about__title{
	font-size: 22px;
	color: #000;
	margin-bottom: 15px;
}

.about__text{
	font-size: 15px;
	color: #000;
	text-align: left;
	width: 300px;
	margin-top: 20px;
	margin-bottom: 70px;
}

.about__text_ml{
	margin-left: 13px;
}

/* SECTION 7 green-city */

.green-city{
	padding-top: 70px;
	background: url(../img/city-green.png) no-repeat center top / cover;
}

.green-title{
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	margin-bottom: 50px;
	font-size: 37px;
}

.in-each-title{
	font-size: 19px;
	color: #fff;
	margin-bottom: 30px;
}

.fas{
	color: #fff;
	margin-right: 5px;
}

.columns{
	display: flex;
	justify-content: space-between;
}

.check__mark{
	font-size: 16px;
	color: #fff;
	margin-top: 10px;
}

.check__mark:after{
	content: "";
	width: 340px;
	display: block;
	border-bottom: 1px solid #419f41;
	margin-top: 4px;
}

.check{
	margin-bottom: 78px;
}

/* SECTION 8 order */

.oreder{
	background: url(../img/order.png) no-repeat center top / cover;
	padding-top: 80px;
}

.security{
	text-align: center;
	margin-bottom: 50px;
}

.security__title{
	font-size: 37px;
	color: #000;
	margin-bottom: 15px;
}

.security__text{
	font-size: 21px;
	color: #000;
}

.documents{
	display: flex;
	justify-content: space-around;
	margin-bottom: 70px;
}

/* FOOTER */

.footer{
	background: #000;
}

.bl-footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.white{
	color: #fbfafa;
}

.fz{
	color: #fbfafa;
	font-size: 13px;
}

.bl-footer__link{
	text-decoration: none;
	border-bottom: 1px solid #fbfafa;
}

.address{
	
}

.fal{
	color: #fbfafa;
}

.address__title{
	font-size: 14px;
	color: #fbfafa;
	margin-left: -14px;
}

.address__marker{
	margin-bottom: -3px;
}

.address__text{
	font-size: 13px;
	color: #fbfafa;
	margin-bottom: 5px;
	margin-top: 2px;
}

.address__email{
	font-size: 13px;
	color: #fbfafa;
}

.address__span{
	font-weight: 700;
}

.black{
	text-align: right;
}

.black__number{
	font-size: 21px;
	color: #fbfafa;
	margin-right: 3.5px;
	margin-bottom: 8px;
}

.black__btn{
	background: rgba(0, 0, 0, 0);
	padding: 9px 10px;
	border-radius: 10px;
}

.black__img{

}


	




















