
body{
	margin: 0;
	padding: 0;
	font-size: 15px;
	overflow-x: hidden;
}

*{
	box-sizing: border-box;
	-moz-transition: all 0.3s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}

ul, li{
	display: block;
	margin: 0;
	padding: 0;
}

button, 
button:active, 
button:focus {
    outline: none;
}

a, 
a:active, 
a:focus {
    outline: none;
}

a:hover{
	text-decoration: none;
}

.container{
	margin: 0 auto;
}

/* HEADER */

.header{
	width: 100%;
	height: 144px;
	position: relative;
	background: #fff;
	box-shadow: 0 0 30px 8px rgba(0, 0, 0, .5);
	z-index: 9999;
	margin-bottom: 180px;
}
.mobile__menu{
	display: none;
}
	.header__bar-top{
		position: relative;
		width: 100%;
		height: 95px;
		top: 0;
		left: 0;
		border-bottom: 1px solid #e5e5e5;
		overflow: hidden;
	}
	.logo{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 25%;
		background: #6d1f39;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.logo::before{
		content: '';
		position: absolute;
		right: -65px;
		top: 0;
		width: 0;
		height: 0;
		border-top: 94px solid #6d1f39;
		border-right: 65px solid transparent;
	}
	.nav__menu-top{
		position: absolute;
		margin-left: 32%;
		height: 100%;
	}
		.nav__menu-top ul{
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 100%;
		}
			.nav__menu-top ul li a{
				margin-right: 30px;
				color: #000;
			}
			.nav__menu-top ul li a:hover{
				color: #9E1C20;
			}
		.header__bar-top-contact{
			position: absolute;
			right: 20%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			height: 90%;
			font-size: 18px;
		}
			.callback{
				font-size: 12px;
				height: 30px;
				width: 130px;
				background: #822745;
				color: #fff;
				border-radius: 10px;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				-ms-border-radius: 10px;
				-o-border-radius: 10px;
				cursor: pointer;
}
			.bar-phone{
				padding-top: 20px;
				letter-spacing: .1em;
			}
		.header__bar-top-tools{
			position: absolute;
			height: 100px;
			right: -38px;
			display: flex;
			align-items: center;
		}
			.header__bar-top-tools img{
				height: 50px;
			}
			.header__bar-top-tools a{
				color: #000;
				font-size: 8px;
				display: inline-block;
				width: 100%;
				height: 100%;
			}
			.enter,
			.basket{
				height: 100%;
				padding: 15px 20px;
				text-align: center;
				background: #fff;
			}
			.enter{
				opacity: 0.5;
				border-left: 1px solid #f1f0f0;
				border-right: 1px solid #f1f0f0;
			}
			.enter:hover{
				opacity: 1;
			}
			.basket:hover{
				opacity: 1;
			}

			.basket{
	  opacity: 0.5;
    margin-right: -30px;
        margin-left: -26.5px;
				border-right: 1px solid #f1f0f0;
			}
		
			.header__bar-bottom{
				position: relative;
				width: 100%;
				height: 50px;
			}
			.nav__menu-bottom{
				width: 65%;
				position: relative;
				height: 100%;
			}
			.nav__menu-bottom ul{
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 100%;
			}
				.nav__menu-bottom ul li a{
					color: #000;
				}
				.nav__menu-bottom ul li a:hover{
					color: #9E1C20;
				}
				.search__form{
					position: absolute;
					right: 30px;
					top: 10px;
				}
					.form__search{
						width: 180px;
						border-radius: 6px;
						-webkit-border-radius: 6px;
						-moz-border-radius: 6px;
						-ms-border-radius: 6px;
						-o-border-radius: 6px;
						border: 1px solid #848484;
						font-size: 10px;
						box-sizing: border-box;
						padding: 5px 10px;
}
				.search__form-btn{
					position: absolute;
					right: 8px;
					z-index: 3;
					top: 2px;	
					border: none;
					outline: none;
					height: 90%;
					width: 30px;	
					background: rgba(255, 255, 255, 0.1);
					cursor: pointer;
				}
				.search__form img{
					position: absolute;
					right: 8px;
					z-index: 2;
					top: 6px;
					border: none;
					outline: none;
					height: 50%;
					width: 40px;
					background: #fff;
				}
				.menu-list {
					display: none;
				}
				/* адаптив */
				/*@media(max-width:1180px){
					.header{
						height: 100px;
					}
					.header__bar-top,
					.header__bar-bottom {
						display: none;
					}
					.mobile__menu{
						display: block;
						width: 100%;
						position: relative;
						z-index: 9999;
					}
					.mobile__menu-btn{
						display: block;
						width: 70px;
						height: 5px;
						background: #000;
						position: absolute;
						top: 40px;
						right: 30px;
						
					}
					.mobile__menu-btn::before,
					.mobile__menu-btn::after{
						content: '';
						display: block;
						height: 5px;
						background: #000;
						position: absolute;
					}
					.mobile__menu-btn::before{
						top: -8px;
						width: 70px;
					}
					.mobile__menu-btn::after {
						top: 8px;
						width: 70px;
					}
					.mobile__menu ul{
						width: 100%;
						height: 100%;
						background: #fff;
						padding-top: 100px;
						text-align: left;
						box-shadow: 0 10px 30px 2px rgba(0, 0, 0, 0.5);
					}
					.mobile__menu ul li{
						border-top: 1px solid #8484842a;
						border-bottom: 1px solid #8484842a;
					}
					.mobile__menu ul li a{
						color: #000;
						font-size: 60px;
						padding: 10px;
						margin: 80px 0;
						padding-left: 100px;
						padding-right: auto;
					}
					.mobile__menu ul li:hover{
						background: #822745;
						width: 100%;
					}
					.mobile__menu ul li a:hover {
						color: #fff;
					}
					.visible {
						display: block;
					}
				}*/
				
/* FOOTER */


.footer{
	background: #333230;
	color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
}

.plot{

}

.ftr-start{
	display: flex;
	justify-content: space-between;
}

.tar{
	margin-left: 100px;
}

.plot__title{
	font-size: 25px;
	text-align: center;
}

.sub-block a{
	text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
}
.sub-block a:hover{
color: #9E1C20;
}

.sub-block_1{
	
}

.sub-block_2{
	
}

.sub-block_center{
	text-align: center;
}



.place{
	display: flex;
	justify-content: space-between;
}

.line{
	width: 282px;
	height: 2px;
	background: #000;
	margin-bottom: 26px;
}

.line2{
	height: 152px;
	width: 2px;
	background: #000;
	align-self: center;
	margin-top: 40px;
}

.logo2{
	margin-top: 20px;
}


.footer-end{
	background: #000;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 50px 0;
}

.card1{
	width: 85px;
	height: 49px;
}

.card2{
	width: 117px;
	height: 33px;
}

.card3{
	width: 113px;
	height: 35px;
}