a.top-info__callback.button.js-form-modal {
	border-bottom: none;
	padding: 10px;
	margin-top: 4px;
	left: -12px;
	position: relative;
}

.catalog-header {
	margin-top: 7em;
	min-height: 13em;
}

.catalog-header + .p-tb {
	padding-top: 2em;
}